<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <h1>&nbsp;Welcome</h1>
    <a href="http://127.0.0.1:8000/admin/" target="_blank">django admin Page</a><hr>
    <p>jwt documentation:</p>
    <a href="https://pypi.org/project/drf-jwt/" target="_blank">drf-jwt</a><hr>
    <p>jwt token debugger:</p>
    <a href="https://jwt.io/" target="_blank">jwt.io</a>
    <p>after receiving the token enter the token in this debugger to see the token structure.</p><hr>
    <p>for testing signup:<br>
        <a href="http://127.0.0.1:8000/api/signup/" target="_blank">signup</a>
        <br><br>
        {<br>
               &nbsp;&nbsp;&nbsp;&nbsp;"email":"test@gmail.com",<br>
               &nbsp;&nbsp;&nbsp;&nbsp;"username":"test",<br>
               &nbsp;&nbsp;&nbsp;&nbsp;"first_name":"abc",<br>
               &nbsp;&nbsp;&nbsp;&nbsp;"last_name":"def",<br>
               &nbsp;&nbsp;&nbsp;&nbsp;"password":"test"<br>
        }
        <br><br>
        copy the json and edit the email and username for successfull requests
    </p>
    <hr>
    <p>for testing login:<br>
        <a href="http://127.0.0.1:8000/api/login/" target="_blank">login</a>
        <br><br>
            {<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"email":"test@gmail.com",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"password":"test"<br>
            }
        <br><br>
        copy the json to get successfull login request
    </p><hr>
    <p>for testing logout:<br><br>
        <a href="http://127.0.0.1:8000/api/logout/" target="_blank">logout</a>
    </p><hr>
    <p>to view data:</p>
    <a href="http://127.0.0.1:8000/userlist/" target="_blank">User List</a><br>
    <hr>
</body>
</html>

